.section {
    font-family: 'Open Sans', sans-serif;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: flex-start;
    min-width: 22.438rem;
  }
  
.rightSection {
  @extend .section;
  width: 75%;
  background-color: beige;
  position: relative;
}
