.homeEmptyContainer {
    display: flex;
    flex-flow: column;
    height: 100%;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-width: 21.25rem;
}

.popularTargetsImg {
    margin-top: 1rem;
}
