.aboutContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: justify;
    margin-top: 7rem;
    width: 32.313rem;
    padding-left: 5.375rem;
}
