.titleSection {
    margin-bottom: 2.063rem;
}

.confirmationText{
    width: 20.063rem;
    text-align: center;
}

.confirmationContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12rem;
}
