.i6 {
    width: 18.75rem;
    height: auto;
  }
  
.social {
  width: 4.813rem;
  height: 1.625rem;
  background-repeat: no-repeat;
  border: 0rem;
}
  
.appStore {
  width: 7.5rem;
  height: 2.375rem;
  background-repeat: no-repeat;
  border: 0rem;
  margin-bottom: 1.25rem;
}

.play {
  position: absolute;
  top: 42%;
}
